/* Card Based Layout - Base styles */

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
  font-family: 'Patua One', sans-serif;
  letter-spacing: 2px;
}

h2 {
  font-size: 1rem;
  color: #007489;
}

p {
  color: #687279;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

.masthead {
	background-color: #005b75;
}

.masthead p, .masthead p a {
  color: white;
}

.site-title {
	color: white;
}

img {
	display: block;
	border: 0;
	width: 140px;
  height: 140px;
  margin: 0 auto;
  padding: 20px 0px 10px 0px;
}

.main-content .cart-details{
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1000px
}

.main-content .gotocart{
  display: inline-block;
  border: 1px solid #1a9bfc;
  border-radius: 2px;
  background: #1a9bfc;
  color: white;
  font-size: 80%;
  font-weight: 500;
  padding: 6px 15px 6px 15px;
  float: right;
  margin-top: 10px;
}
.main-content .allitems{
  font-size: 150%;
  color: #656f77;
  font-weight: 200;
}

.card {
	background: white;
	margin-bottom: 2em;	
}

.card a {
	color: black;
	text-decoration: none;
}

.card .discount-tag{
  position: absolute;
  border: 1px solid #74c262;
  padding: 5px;
  color: white;
  font-size: 80%;
  background: #74c262;
  margin-top: -10%;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
  padding: 0px 10px 0px 10px;
  background: #efefef;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

.card-content p {
	font-size: 80%;
}

.card-content .item-name{
  padding-top: 5px;
}

.card-content .item-price{
  padding-bottom: 5px;
  display: inline-block;
}

.card-content .addtocart{
  display: inline-block;
  border: 1px solid #61bbf6;
  border-radius: 2px;
  color: #61bbf6;
  font-size: 80%;
  font-weight: 500;
  padding: 2px 5px 2px 5px;
  float: right;
  margin-top: 10px;
  cursor: pointer;
}

.card-content .addtocart :hover{
  display: inline-block;
  border: 1px solid #61bbf6;
  border-radius: 2px;
  color: white;
  background: #1a9bfc;
  font-size: 80%;
  font-weight: 500;
  padding: 2px 5px 2px 5px;
  float: right;
  margin-top: 10px;
  cursor: pointer
}

.card-content .item-info{
}

/* Flexbox stuff */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #e3e6e8;
 }

.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
    max-height: 250px;
    border: 1.4px solid #e3e6e8;
}

@media screen and (min-width: 40em) {
    .card {
       max-width: calc(50% -  1em);
       max-height: 250px;
       border: 1.4px solid #e3e6e8;
    }
}

@media screen and (min-width: 60em) {
    .card {
        max-width: calc(25% - 1em);
        max-height: 250px;
        border: 1.4px solid #e3e6e8;
    }
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1000px;
    padding: 2%;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 1000px;
    }
}